@import url('https://fonts.googleapis.com/css?family=Rye');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Montserrat:800');
@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Kalam');


.holder {
    padding: 30px;
    background: radial-gradient(circle, #3241A6 0, #202A6B 120%);
}

.holder img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
	border: 4px solid #FF625F;
}

.btn-primary {
    margin-top: 10px;
    color: #FF625F;
    background-color : #303E9F;
    border-radius: 0px;
    border: 2px solid #FF625F;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: #FFF;
    background-color: #FF625F;
    border-color: #FFF;
}

span {
    font-family: sans-serif;
}

.col-md-12 {
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (min-width: 680px) {
    .holder img {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .holder {
        padding: 10px;
    }
}

/* add new style here */
#color_910037 {
    color: #910037;
    font-size: 32px;
}

#color_ACACAC {
    color: #ACACAC;
    font-size: 36px;
    font-family: 'Kalam', cursive;
}

#color_03A9F4 {
	color: #03A9F4;
	font-size: 24px;
}

#color_CF0033 {
    color: #CF0033;
    font-size: 42px;
    font-family: monospace;
}

#color_FB8C00 {
	color: #FB8C00;
	font-size: 48px;
	font-family: 'Amaranth', sans-serif;
	text-transform: uppercase;
}

#color_63A4FF {
    color: #63A4FF;
    font-size: 42px;
}
#color_F44336{
	color: #F44336;
	font-size:45px;
}

#color_1E88E5 {
    color: #1E88E5;
    font-size: 54px;
    font-family: 'Playfair Display', serif;
}

#color_27AE60 {
    color: #27AE60;
    font-size: 35px;
}

#color_4DD0E1 {
    color: #4DD0E1;
    font-size: 45px;
}

#color_1B8B99 {
    color: #1B8B99;
    font-size: 40px;
}

#color_4B0082 {
    color: #4B0082;
    font-size: 23px;
}

#color_F06292 {
    color: #F06292;
    font-size: 23px;
}

#color_D50000 {
    color: #D50000;
    font-size: 14px;
}

#color_00CED1 {
    color:#00CED1;
    font-size: 14px;
}

#color_FF1744 {
    color: #FF1744;
    font-size: 29px;
}

#color_4DD0E1 {
    color: #4DD0E1;
    font-size: 19px;
}

#color_303F9F {
    color: #303F9F;
    font-size: 14px;
}

#color_CC2C00 {
	color: #CC2C00;
	font-size: 18px;
}

#color_1DE9B6 {
    color: #1DE9B6;
    font-size: 15px;
}

#color_E91E63 {
    color: #E91E63;
    font-size: 24px;
}

#color_4286F4 {
    color: #4286F4;
    font-size: 18px;
}

#color_00E5FF {
    color: #00E5FF;
    font-size: 17px;
}

#color_D500F9 {
    color: #D500F9;
    font-size: 32px;
}

#color_9D854C {
    color: #9D854C;
    font-size: 30px;
}

#color_37474F {
    color: #37474F;
    font-size: 48px;
}

#color_A0CC00 {
    color: #A0CC00;
    font-size: 40px;
}

#color_F44336 {
	color: #F44336;
	font-size: 15px;
}

#color_424242 {
    color: #424242;
    font-size: 10px;
}

#color_C5E1A5 {
    color: #C5E1A5;
    font-size: 25px;
}

#color_311B92 {
	color: #311B92;
	font-size: 16px;
}

#color_F9AF44 {
    color: #F9AF44;
    font-size: 24px;
}

#color_3B5072 {
    color: #3B5072;
    font-size: 22px;
}

#color_99CCFF {
    color: #99CCFF;
    font-size: 69px;
}

#color_EF5350 {
    color: #EF5350;
    font-size: 36px;
}

#color_E65100 {
    color: #E65100;
    font-size: 20px;
}

#color_F8E901 {
    color: #F8E901;
    font-size: 17px;
}

#color_42A5F5 {
    color: #42A5F5;
    font-size: 21px;
}

#color_F9D100 {
    color: #F9D100;
    font-size: 40px;
}

#color_FF8300 {
	color: #FF8300;
	font-size: 16px;
}

#color_1665CC {
    color: #1665CC;
    font-size: 45px;
}

#color_64DD17 {
	color: #64DD17;
	font-size: 20px;
}

#color_B3B3B3 {
	color: #B3B3B3;
	font-size: 18px;
}

#color_ECB601 {
	color: #ECB601;
	font-size: 12px;
}

#color_67E08F {
    color: #67E08F;
    font-size: 31px;
}

#color_BA68C8 {
    color: #BA68C8;
    font-size: 10px;
}

#color_FF80AB {
    color: #FF80AB;
    font-size: 18px;
}

#color_1B5E20 {
    color: #1B5E20;
    font-size: 40px;
}

#color_DC143C {
    color: #DC143C;
    font-size: 16px;
}

#color_00FF00 {
    color: #00FF00;
    font-size: 24px;
}

#color_F4511E {
	color: #F4511E;
	font-size: 40px;
	font-family: "Rye", "Times New Roman", serif;
}


#color_76AF22 {
    color: #76AF22;
    font-size: 22px;
}

#color_F77B1C {
    color: #F77B1C;
    font-size: 33px;
}

#color_D50000 {
    color: #D50000;
    font-size: 50px;
}

#color_90A4AE {
    color: #90A4AE;
    font-size: 21px;
}

#color_7E08EA {
    color: #7E08EA;
    font-size: 38px;
}

#color_88B04B {
    color: #88B04B;
    font-size: 69px;
}

#color_86F442 {
    color: #86F442;
    font-size: 38px;
}

#color_009688 {
    color: #009688;
    font-size: 24px;
}

#color_009588 {
    color: #009588;
    font-size: 34px;
}

#color_AB26FA {
    color: #AB26FA;
    font-size: 34px;
}
#color_66CCFF {
    color: #66CCFF;
    font-size: 22px;
}
#color_8BC34A {
    color: #8BC34A;
    font-size: 34px;
}
#color_55AC8F {
    color: #55AC8F;
    font-size: 34px;
}

#color_FF8F00 {
	color: #FF8F00;
	font-size: 18px;
}

#color_E65100 {
    color: #E65100;
    font-size: 38px;
}

#color_B71C1C {
    color: #B71C1C;
    font-size: 45px;
}

#color_5f708c {
   color: #5f708c;
   font-size: 2em;
}

#color_364F6B {
    color: #364F6B;
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

#color_EC407A {
    color: #EC407A;
    font-size: 23px;
}

#color_8BCCFF {
    color: #8BCCFF;
    font-size: 34px;
}

#color_F57F17 {
    color: #F57F17;
    font-size: 44px;

}
#color_795548 {
    color: #795548;
    font-size: 46px;
}

#color_3E2723 {
    color:#3E2723;
    font-size: 65px;
    font-family: 'Lucidatypewriter','monospace';
}

#color_003B6F {
    color: #003B6F;
    font-size: 10px;
}

#color_FF5A5F {
    color: #FF5A5F;
    font-size: 40px;
}

#color_F0F0F0 {
    color: #F0F0F0;
    font-size: 31px;
}

#color_491809 {
	color: #491809;
	font-size: 45px;
	font-family: 'Indie Flower', cursive;
}

#color_FF3D00 {
    color: #FF3D00;
    font-size: 25px;
}

#color_FF6400 {
    color: #FF6400;
    font-size: 30px;
    font-family: 'Aclonica'

}
#color_F44336 {
    color: #F44336;
    font-size: 45px;
}

#color_1B5E20 {
  color: #1B5E20;
  font-size: 20px;
  font-family:  'Oswald', sans-serif;
}

#color_263238 {
    color: #263238;
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
}
#color_000000 {
    color: #000000;
    font-size: 50px;
}

#color_3F51B5 {
  color:#3F51B5;
  font-size: 35px;
  font-family: 'Comfortaa', fantasy;
}

#color_B7196B {
    color: #B7196B;
    font-size: 45px;
    font-family: 'Verdana'
}

#color_4AFF00 {
    color: #4AFF00;
    font-size: 75px;
    font-family: 'Audiowide'
}

#color_657776 {
    color: #657776;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
}

#color_AA00FF {
    color: #AA00FF;
    font-size: 20px;
}

#color_FF4081 {
    color: #FF4081;
    font-size: 18px;
    font-family: Georgia, serif;
}
#color_FFAB00{
    color:#FFAB00;
    font-size:21px;
}
#color_303F9F {
    color: #303F9F;
    font-size: 20px;

}

#color_46FCC2 {
    color: #46FCC2;
    font-size: 16px;
}

#color_FFFFFF {
    color: #FFFFFF;
    font-size: 16px;
}

#color_AFCFEA {
    color:#AFCFEA;
    font-size: 45px;
    font-family: 'Lucidatypewriter','monospace';
}
