 #color_4b0082{
    color:  #4b0082;
    font-size: 23px;
}

#color_D50000 {
    color: #D50000;
    font-size: 14px;
}

#color_FF1744 {
    color: #FF1744;
    font-size: 29px;
}

#color_4DD0E1 {
    color: #4DD0E1;
    font-size: 19px;
}

#color_303F9F {
    color: #303F9F;
    font-size: 14px;
}

#color_1DE9B6 {
    color: #1DE9B6;
    font-size: 15px;
}

#color_E91E63 {
    color: #E91E63;
    font-size: 24px;
}

#color_4286f4 {
    color: #4286F4;
    font-size: 18px;
}

#color_00E5FF {
    color: #00E5FF;
    font-size: 17px;
}

#color_D500F9 {
    color: #D500F9;
    font-size: 32px;
}
#color_EF5350{
    color: #EF5350;
    font-size: 36px;
}
